01_Jira_Knowledge-Sync-Minimal-Summary-Comment-Assignee/Jira_Knowledge-Sync-Minimal-Summary-Comment-Assignee.json
{
  "name": "Jira Knowledge Sync - Minimal (Summary → Comment & Assignee)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# タイトル\n{{ $('Code1').first().json.summary }}\n\n# 説明\n{{ $('Code1').first().json.description }}\n\n# コメント履歴\n{{ $json.comments }}",
        "options": {
          "systemMessage": "あなたはプロジェクトの開発者です。タスクがアサインされました。過去の知見を利用して対応をしてください。outputの内容をそのままJiraのコメント欄に記載します。また関連するJiraIssueIDも合わせて回答してください。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1500,
        60
      ],
      "id": "145032ef-4fe8-41f5-826b-28ccdb708f0a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1460,
        260
      ],
      "id": "a535a477-1dff-40ec-b9ab-5ef39ae7df81",
      "name": "OpenAI Chat Model",
      "notesInFlow": false
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "jira情報",
        "pineconeIndex": {
          "__rl": true,
          "value": "<Pinecone Indexを入力>",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1600,
        260
      ],
      "id": "08e9c208-9c18-44a8-977c-7aaeef659ff5",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1640,
        400
      ],
      "id": "c667b76b-e39f-4d2d-9fb8-090c6714fe14",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {
          "jql": "assignee = ＜アカウントIDを入力してください＞"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "58583546-0717-44f7-8c0a-1439e41c5777",
      "name": "Jira Issue List"
    },
    {
      "parameters": {
        "resource": "issueComment",
        "operation": "getAll",
        "issueKey": "={{ $json.id }}",
        "limit": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        780,
        220
      ],
      "id": "7fe43277-2fe6-4d17-ae59-43f5bd76d63b",
      "name": "Jira Issue Detail"
    },
    {
      "parameters": {
        "resource": "issueComment",
        "issueKey": "={{ $('Code1').first().json.id }}",
        "comment": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1980,
        260
      ],
      "id": "23f2d27a-d245-45c2-b168-afd4285342ad",
      "name": "Jira Add Comment"
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $('Code1').first().json.id }}",
        "updateFields": {
          "assignee": {
            "__rl": true,
            "value": "={{ $('Code2').item.json.accountId }}",
            "mode": "id"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        2180,
        440
      ],
      "id": "36551197-cca6-4d18-aca1-cb8e9c20c65c",
      "name": "Jira Assign"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d717f6a8-6736-44e5-a131-ee77ffeb4c83",
              "leftValue": "={{ $json.accountId }}",
              "rightValue": "＜アカウントIDを入力してください＞",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        220
      ],
      "id": "6fbc53a3-cbd5-4da6-8587-1ef2c100569c",
      "name": "check accountId"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        360,
        100
      ],
      "id": "18548988-495d-4c5f-8dd0-c245881ce995",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return {\n  'id': $input.first().json.id,\n  'summary': $input.first().json.fields.summary,\n  'description': $input.first().json.fields.description,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        220
      ],
      "id": "228b44b3-ba50-475a-9df0-13f335834bb5",
      "name": "Code1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "let comments = '';\nlet accountId = '';\nfor (const item of $input.all()) {\n  comments += '## ' + item.json.updated\n  comments += '\\n'\n  comments += item.json.body.content[0].content[0].text\n  comments += '\\n'\n  comments += '\\n'\n\n  accountId = item.json.updateAuthor.accountId\n}\n\nreturn {\n  'comments': comments,\n  'accountId': accountId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        220
      ],
      "id": "f3b79caf-f65d-459e-8e1b-bd9dc16dc17b",
      "name": "Code2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -40,
        0
      ],
      "id": "3d03736b-5ec9-465c-b5de-1a58b7470b9a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Step1 \nScheduled Execution",
        "height": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        -140
      ],
      "typeVersion": 1,
      "id": "18113aa5-3964-4870-bcdd-173659825115",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Step2\nJira Trigger (Issue Assigned)",
        "height": 820,
        "width": 1240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        -140
      ],
      "typeVersion": 1,
      "id": "409f405e-6e9e-4498-993b-a4d63db96720",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Step3\nAI Assistant",
        "height": 820,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1400,
        -140
      ],
      "typeVersion": 1,
      "id": "ff7675e6-5afb-4117-86ff-64e005558b06",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Step4\nResponse Generation / Ticket Update",
        "height": 820,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        -140
      ],
      "typeVersion": 1,
      "id": "f31aaf67-fa23-45b8-8f52-af3738dd3f52",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Jira Add Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Jira Issue List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Issue Detail": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Add Comment": {
      "main": [
        [
          {
            "node": "Jira Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check accountId": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "check accountId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Jira Issue Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Assign": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Jira Issue List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72ac3c2c-4590-4f79-adad-946aeca43540",
  "meta": {
  },
  "id": "EA4KBc02CzW5rsGe",
  "tags": []
}